body{
  background-image: url('./data/paper.jpg');
  background-color: rgb(163, 163, 163);
  background-size: 100px;
}

.bookcover{
  height: 560px;
  width: 960px;
  margin:100px auto;
  background-color: rgb(180,208,218,81);
  border-radius:9px;
  position:relative;
}
.bookdot{
  height:534px;
  width:934px;
  border: dashed white 2px;
  border-radius:9px;
  position: absolute;
  top:12px;
  left:12px;
}
.page{
  display:flex;
  height:512px;
  width:912px;
  background-color:rgb(230, 230, 230);
  border-radius: 9px;
  position: absolute;
  top:11px;
  left:11px;

}
.column1{
  display:flex;
  flex-direction: column;
  flex:0.25;
  margin-left:15px;
  margin-bottom:15px;
  margin-top:15px;
}
.row1{
  font-family: 'NeoDunggeunmo';
  text-align:center;
  line-height: 45px;
  flex:0.1;

}
.row2{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color:white;
  flex:0.9;
  border-radius:9px;
}

.column2{
  display:flex;
  flex-direction:column;
  flex: 0.6;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}
.row3{
  display:flex;
  flex-direction: row;
  flex:0.1;
}

.column3{
  flex:0.5;
  line-height:45px;
  text-align:left;
}

.column4{
  flex:0.5;
  line-height:45px;
  text-align:right;
}

.row4{
  flex:0.9;
  background-color:white;
  border-radius:9px;
}
.column5{
  flex:0.13;
  background-color:rgb(230,230,230);
  border: solid rgb(200,200,200) ;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:1px;
}

.image{
  width: 150px;
  height:150px;
  margin: 15px;
}

@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.text1{
  font-family: "KyoboHand";
  text-align:center;
  height:200px;
}
.text2{
  font-family: "KyoboHand";
  text-align:center;
}

.updated{
  display: flex;
  flex-direction: column;
  height:30%;
  margin:15px;

}
.column6{
  display:flex;
  justify-content: space-between;
}
.red{
  background-color:rgb(242, 98, 94);
  border-radius:3px;
  padding-left:4px;
  padding-right:4px;
  color:white;
}
.blue{
  background-color:rgb(102, 122, 193);
  border-radius:3px;
  padding-left:4px;
  padding-right:4px;
  color:white;
}
.row5{
  font-size:13px;
  line-height:20px;
}
.row6{
  font-size:13px;

}

.line{
  border: none;
  height:1.5px;
  background-color:#bbb;
  margin-top:0px;
  margin-bottom:3px;
}
.dot{
  border:none;
  border: 1px dashed #bbb;
  margin-top: 1px;
  margin-bottom: 1px;
}
.cate{
  font-family: "KOTRA_BOLD-Bold";
  color: rgb(66,162,215);

}
@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
