body{
  background-image: url('./images/pattern.png');
  background-color: rgb(163, 163, 163);
  background-size: 100px;
}

.bookcover{
  height: 560px;
  width: 960px;
  margin:100px auto;
  background-color: rgb(180,208,218,81);
  border-radius:9px;
  position:relative;
}
.bookdot{
  height:534px;
  width:934px;
  border: dashed white 2px;
  border-radius:9px;
  position: absolute;
  top:12px;
  left:12px;
}
.page{
  height:520px;
  width:920px;
  background-color:white;
  border-radius: 9px;
  position: absolute;
  top:7px;
  left:7px;
}
