@font-face {
    font-family: '낼나 예샘체';
    src: url('data/낼나 예샘체.ttf') format('truetype');
}

body{
    font-family: '낼나 예샘체';
    -ms-overflow-style: none;
}

div{
    background-image: url('./data/paper.jpg');
    background-color: #F0F0F0;

.nav-float {
    display: inline-flex;
}

ul li a {
    color: #000000;
}

ul li a:hover {
    color: #000000;
}

ul li a.a-link:hover {
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}
